
body {
    background:url(../IMG/fon3.jpg); 
    background-attachment: fixed;
   }


aside, section {
	display: inline-block;
	vertical-align: top;
}

aside {
        width: 20%;
}

section {
        width: 79%;
}

.video-gallery li {
	display: inline-block;
	border: 1px solid blue;
	border-radius: 5px;
	padding: 5px;
	width: 45%;
}

 