
body {
    background: #c7b39b url(../IMG/fon.jpg); 
    color: #fff; /
   }


aside, section {
	display: inline-block;
	vertical-align: top;
}

aside {
        width: 20%;
}

section {
        width: 79%;
}

 