body {
    background:url(../IMG/fonprincipal.jpg); 
	background-attachment: fixed;
	background-size: 100% auto;
}

header h1{
	font-size:50px;
	text-align: center;
	color:rgb(252, 0, 0)
}

aside, section {
	display: inline-block;
	vertical-align: top;
}

aside{
	display: none;
}

section{
  	margin-top: 5%;
}

* {
  box-sizing: border-box;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog-card .meta {
  position: relative;
  width: 200px;
  height: 200px;
}
.photo{
	background-position: center;
    height: auto;  
}

.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1.7rem;
  font-weight: 300px;
  text-transform: uppercase;
  color: rgb(255, 0, 0);
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;

}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 100%;
  top: -0.75rem;
  border-radius: 3px;
}

/* 
@media screen and (max-width: 400px){
	h1{
		background: red;
	}
	aside{
		display: none;
	} 
} */


@media screen and (min-width: 600px) {
	section{
		margin-top:-255px;
		margin-left:100px; 
	}
	aside{
		display: inline-block;
		}
	  .blog-card {
	    flex-direction: row;
	    max-width: 75%;
	  }
	  .blog-card .meta {
	    flex-basis: 125%;
	  }
	 
  
 .video-gallery li {
	display: inline-block;
	border: 1px solid red;
	border-radius: 5px;
	padding: 5px;
	width: 45%;
}

.video{
  margin-top: 5%;
}

.contacte{
  margin-top:5%;
  width: 90%;
  height: 600px;
}

@media screen and (max-width: 1200px) {
	.video{
	margin-top:5%
	}
    .contacte{
    margin-top: 5%
    }
}

