nav ul {
  position: fixed;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
nav li {
  display: inline-flex;
  margin: 5px;
  transition: all 0.3s;
}
nav a {
  display: fixed;
  color: #c4c4c4;
  transition: all 0.3s;
}
nav a:hover {
  color: #ff0000;
}


@media all and (min-width: 690px) {
  nav li {
      margin: 0;
      transform: skewX(-10deg);
  }
  nav a {
      padding: 15px 25px;
      color: rgb(255, 255, 255);
      background-color: rgba(15, 15, 15, 0.979);
      text-decoration: none;
  }
  nav a:hover {
      color: rgb(255, 0, 0);
      background-color: #ffffff;
  }
  nav span {
      transform: skewX(10deg);
  }
}