field{
	background: LimeGreen;
	width: 800px;
	height: 533px;
	display: block;
	background: url(../img/fut_p.jpg);
}


ball{
background: url(../img/ball.png);
background-size: contain;
width: 20px;
height: 20px;
-webkit-animation-name: MovingBall;
-webkit-animation-duration: 6s;
-webkit-animation-iteration-count: infinite;
position: absolute;
animation-timing-function: ease-in-out;
left: 30px;
top: 150px;
}

@-webkit-keyframes MovingBall {
0% {left: 118px; top: 268px;}
5% {left: 330px; top:99px;}
15% {left: 190px; top: 431px;}
35% {left: 350px; top: 250px;}
65% {left: 410px; top: 340px;}
85% {left: 550px; top: 250px;}
95% {left: 780px; top: 280px;}
100% {left: 780px; top: 280px;}
}

field player, field referee{
	width: 30px;
	height: 30px;
	border: 1px solid yellow;
	border-radius: 50%;
	text-align: center;
	color: black;
	position: absolute;
	margin-top: -12px; 
}

field referee{
	background: yellow;
	top: 200px;
	left: 470px;
	color: black;
	background-image: url(../img/referee.png);
}

field player {
	width: 20px;
	border: none;
	border-radius: 0;
	background-color: none;
}

field player:hover{
	width: 30px;
	height: 30px
}

field team#red-team player{
	background: url(../img/team-red.png);
    background-size: cover;

}

field team#blue-team player{
	background: url(../img/team-blue.png);
	background-size: cover;
}


#player1-red{
	top: 268px;
	left: 118px;
}


#player2-red{
	top: 120px;
	left: 190px;
}

#player3-red{
	top: 250px;
	left: 550px;
}

#player4-red{
	top: 99px;
	left: 330px;
}

#player5-red{
	top: 431px;
	left: 190px;
}


#player6-red{
	top: 250px;
	left: 350px;
}


#player7-red{
	top: 431px;
	left: 330px;
}

#player8-red{
	top: 190px;
	left: 257px;
}

#player9-red{
	top: 190px;
	left: 430px;
}

#player10-red{
	top: 340px;
	left: 410px;
}

#player11-red{
	top: 340px;
	left: 290px;
}



#player1-blue{
	top: 250px;
	left: 690px;
	-webkit-animation-name:  goolkeeper;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	position: absolute;
	animation-timing-function: ease-in-out;
}
	@-webkit-keyframes goolkeeper {
	0% {left: 690px; top: 250px;}
	15% {left: 710px; top: 280px;}
	35% {left: 660px; top: 300px;}
	45% {left: 690px; top: 280px;}
	55% {left: 650px; top: 270px;}
	65% {left: 660px; top: 280px;}
	95% {left: 690px; top: 240px;}
	100% {left: 660px; top: 280px;}
}

#player2-blue{
	top: 99px;
	left: 625px;
}

#player3-blue{
	top: 180px;
	left: 160px;
}

#player4-blue{
	top: 99px;
	left: 475px;
}

#player5-blue{
	top: 431px;
	left: 625px;
}

#player6-blue{
	top: 256px;
	left: 214px;
}


#player7-blue{
	top: 431px;
	left: 475px;
}

#player8-blue{
	top: 190px;
	left: 530px;
}

#player9-blue{
	top: 190px;
	left: 320px;
}

#player10-blue{
	top: 330px;
	left: 190px;
}

#player11-blue{
	top: 330px;
	left: 520px;
}